@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
    overflow-x: hidden;
}


input {
  outline:none;
 }

 input:focus, input.form-control:focus {

  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.marquee {
  white-space: nowrap;
  /* overflow: hidden; */
  position: absolute;
  font-family: "Old Standard TT", serif;
  font-style: italic;
  z-index: 1000;
}
.footer{  
  text-shadow: 0 0 5px #fff, 0 0 7px #fff;

}
.marquee span {
  display: inline-block;
  margin-left: 0%;
  animation: marquee 50s linear infinite;
  /* text-shadow: 0 0 5px #fff, 0 0 7px #fff; */
  
}

.marquee2 span {
  margin-left: 100%;
  animation-delay: 0s;
}

/* .marquee span:hover {
  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
} */

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}