@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital@0;1&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
    overflow-x: hidden;
}

.title{
  user-select: none;
}




input {
  outline:none;
 }

 input:focus, input.form-control:focus {
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.marquee {
  white-space: nowrap;
  /* overflow: hidden; */
  position: absolute;
  font-family: "Old Standard TT", serif;
  font-style: italic;
  z-index: 1000;
}
.footer{  
  text-shadow: 0 0 5px #fff, 0 0 7px #fff;
  

}
.marquee span {
  display: inline-block;
  margin-left: 0%;
  animation: marquee 100s linear infinite;
  /* text-shadow: 0 0 5px #fff, 0 0 7px #fff; */
  
}

.marquee2 span {
  margin-left: 100%;
  animation-delay: 0s;
}

/* .marquee span:hover {
  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
} */

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

iframe
{
  background-image: url(../public/loading-gif.gif);
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center; 
   /* background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 100% 100%"><text x="50%" y="50%" font-family="sans-serif" font-size="20" text-anchor="middle">Loading</text></svg>') 0px 0px no-repeat; */
}

/* .holds-the-iframe {
  background:url(../public/loading-gif.gif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
} */

/* ::selection { background: white;color:#00FFE6 } */
::selection { background: #00F7FF;color:white; }